/* Core Styles */
body {
  margin:0;
  font-size: 1.3em; 
  font-family: Lato;
  background: #333;
  color:#fff;
  line-height: 1.5;
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-thumbnail {
  border-radius: 100%;
  width:40%;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col-sm-3 {
  padding: 5px;
}

h1, h2, h3 {
  margin:0;
  padding:1em 0;
}

p {margin: 0; padding: 1em; font-size: 14px;}

.margin {
  margin-bottom: 45px;
  margin-top: 1em;
}

.btn  {
  display: inline-block;
  background:rgb(46, 145, 237);
  color: #fff;
  text-decoration: none;
  padding: 1em, 2em;
  border: 1px solid #666;
  margin: .5em 0;
  opacity: .7;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase */

#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333 url('image/imagebkgrd.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  z-index: -1;
  opacity: 0.8;
}

#showcase h1 {
  padding-top:20px;
  padding-bottom:0px;
}

#showcase .content-wrap,
#section-a .content-wrap  {
  padding: 0 1.5em; 
}

/* Section A */
#section-a  {
  background: #eaeaea;
  color:  #333;
  padding-bottom: 2em;
}

/* Section B */
#section-b  {
  padding: 2em 1em 1em;
}

#section-b ul {
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background:#fff;
  color:#333;

}

.card-content {
  padding: 1.5em;
}

/* Section C */

#section-c  {
  background: #fff;
  color:#333;
  padding: 2em;
}

/* Section D / Boxes */

#section-d .box {
  padding: 2em;
  color: #fff;
  background: #0054ff;
}

#section-d .box:first-child {
  background: #333;
}

/* Footer */

#main-footer  {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  background:#2690d4;
  text-decoration:none;
}

@media(min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; /* Same as alternative 1fr 1fr 1fr 1fr  */
  }

  #section-a  .content-text {
    columns: 2;
    column-gap: 2em;
  }
  
  #section-a  .content-text p {
    padding-top:0;
  }

  .content-wrap, #section-b ul {
    grid-column:  2/4;
  }

  .box, #main-footer div  {
    grid-column: span 2;
  }
  
  #section-b ul {
    display: flex;
    justify-content: space-around;  
  }

  #section-b li {
    width: 21%;
  };

  #section-b  .content-text p {
    padding-top:0;
  }
}

.bg-1 { 
  background-color: #474e5d; /* Asian Paint Smoky Grey */
  color: #BFB9B6;
}
.bg-2 { 
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 { 
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 50px;
  padding-bottom: 80px;
}
.navbar {
  padding-top: 25px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
